fastapi
uvicorn[standard]
python-multipart
aiofiles
python-dotenv
requests
httpx
orjson

sqlalchemy
psycopg2-binary
alembic

pydantic

numpy
pandas
polars
pyarrow
openpyxl
duckdb
pyspark

scikit-learn
xgboost
lightgbm
catboost
optuna
imbalanced-learn
joblib

shap

mlflow

crewai
crewai-tools

llama-index
llama-index-llms-groq
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
pypdf

langchain
langchain-community
langchain-text-splitters

qdrant-client

sentence-transformers
transformers
accelerate
tiktoken

groq

matplotlib
plotly
missingno
ydata-profiling

pytest
pytest-asyncio
black
flake8
isort
mypy
pre-commit
